<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {{ range first 5 (where .Pages.ByPublishDate "Section" "cards") }}
            <li class="glide__slide">
                    {{ with .Params.feature_image }}
                <img class="glide__slide--img" src="{{ . | urlize }}">
                {{ end }}
                <div class="glide__slide--body">
                    <h3>{{ .Title }}</h3>
                    <p>{{ .Content | truncate 500 }}</p>
                    <div class="glide__slide--footer">
                        <a class="glide__btn" href="{{.Permalink}}">Lire la suite <i class="fas fa-arrow-right ml-2"></i></a>
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</div>